extends layout

block content
   #widget.container
      .row
        #header.col-xs-12.header
          img#Mandela_Logo(src='/public/images/Logo_MandelaDiaries.png')
      .row
        #context.col-xs-12
          p.clear ON THIS DAY AGO
      .row
        #videos.col-xs-12
          .embed-responsive.embed-responsive-4by3
            iframe(width='300', height='169', src='https://www.youtube.com/embed/4HqtAMHrJ8s', frameborder='0', allowfullscreen='')
      .row
        #footer.col-xs-12
          img#NMF_logo(src='/public/images/Logo_NMF.png')
          img#SABC_logo(src='/public/images/Logo_SABCNews.png')
